<!--The content below is only a placeholder and can be replaced.-->


    <mat-toolbar color="primary">      
      <span class="logo">
        <img src="assets/logo.png" alt="Lexincorp">
      </span>   
    </mat-toolbar>
    <mat-card>
      <app-home></app-home>
    </mat-card>

