mat-card{
    max-width: 1440px;
    margin: 15px auto;
    margin-top: 0px;
  }

  .btn-logs {
    position: absolute;
    right: 50px;
  }

  .logo {
    height: 50px;
    & img {
      height: 100%;
    }
  }