<h2 mat-dialog-title>Logs de procesos</h2>

    <table mat-table [dataSource]="itemsLog" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Datos </th>
          <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Salir</button>  
</mat-dialog-actions>
