/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$primary: red;

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
    width: auto !important
}

mat-drawer-container {
    height: 100vh;
}

.icon-menu {
    margin-right: 20px;
    cursor: pointer;
}

.item-result {
    position: relative;        
    &:hover {
        background-color: #efffb1;
        cursor: pointer;
        text-decoration: underline;        
    }
}


mat-drawer {    
    width: 250px;
    & h4 {
        height: 75px;
        background-color: #3c3c3c;
        margin: 0px;
        text-align: center;
        line-height: 75px;
        color: white;
    }
}

mat-nav-list {
    mat-icon { 
        margin-right: 10px;
    }
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #005f99;
}

.mat-toolbar.mat-primary {
    background: #005f99
}


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #005f99
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #005f99
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #005f99
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0ba2ff;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #3fa5ce;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    color: rgba(255, 255, 255, 1);
}