.form-app {
    & mat-form-field {
        width: 100%;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .col-4 {
        flex: 0 1 33%;
    }
    & .col-6 {
        flex: 0 1 49%;
    }
    & .col-8 {
        flex: 0 1 69%;
    }
    & .col-2 {
        flex: 0 1 29%;
    }
    & .col-12 {
        flex: 0 1 100%;
    }
 }

.editing {
    background-color: #DCEDC8;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .results {
        flex: 0 1 48%;
        & .scroll-result {
            max-height: 600px;
            overflow-y: auto;
            border: 1px solid silver;
            padding: 10px;
        }
    }
    .form-app {
        flex: 0 1 48%;
    }
}

.header-result {
    & h4 {
        display: inline-block !important;
    }
    & button {
        float: right;
    }
}



.item-result {
    position: relative;        
    &:hover {
        background-color: #efffb1;
        cursor: pointer;
        text-decoration: underline;        
    }
}


.mat-radio-button {
    margin-top: 10px;
}

.hidden_price {
    display: none !important;
}


@media screen and(max-width: 768px) {
    .results {
        flex: 0 1 100% !important;
        margin-top: 50px;
    }

    .form-app {
        flex: 0 1 100% !important;
    }
}

