<style>
    .item-result:hover {
        background-color: #efffb1;
        cursor: pointer;
        text-decoration: underline;
    }
</style>

<h4>
    Llena los datos siguientes
</h4>
<div class="main">
    <div class="form-app">

        <div class="row">
            <div class="col-8">
                <mat-form-field appearance="outline">
                    <mat-label>Titulo</mat-label>
                    <input matInput placeholder="Titulo" type="text" [(ngModel)]="item.title" (keyup)="build_html()">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-radio-group [(ngModel)]="item.constituye" (change)="validate_constituye()">
                    <mat-radio-button value="true">Qué constituye</mat-radio-button><br>
                    <mat-radio-button value="false">Qué no constituye</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="row">

            <div class="col-4 {{classConstituye}}">
                <mat-radio-group [(ngModel)]="item.divisa" (change)="validate_divisa()">
                    <mat-radio-button value="Q">Valor en Quetzales</mat-radio-button><br>
                    <mat-radio-button value="$">Valor en Dolares</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-4 {{classConstituye}}">
                <mat-form-field appearance="outline">
                    <mat-label>Valor</mat-label>
                    <input matInput placeholder="0" type="number" min="0" [(ngModel)]="valor" (keyup)="numeroALetras($event,'valor')" class="input-valor">

                    <mat-hint>Decimales o enteros </mat-hint>
                </mat-form-field>
            </div>

            <div class="{{classCols}}">
                <mat-form-field appearance="outline">
                    <mat-label>Area</mat-label>
                    <input matInput placeholder="0" type="number" min="0" [(ngModel)]="area" (keyup)="numeroALetras($event,'area')">
                    <mat-hint>Decimales o enteros</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Estación</mat-label>
                    <input matInput placeholder="0" type="text" min="0" [(ngModel)]="est" (keyup)="build_html()">
                    <mat-hint>Alfanumerico</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Poscición</mat-label>
                    <input matInput placeholder="0" type="text" min="0" [(ngModel)]="pos" (keyup)="build_html()">
                    <mat-hint>Decimales o enteros</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Grados</mat-label>
                    <input matInput placeholder="0" type="text" min="0" [(ngModel)]="grados" (keyup)="build_html()">
                    <mat-hint>Decimales o enteros</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Minutos</mat-label>
                    <input matInput placeholder="0" type="number" min="0" [(ngModel)]="minutos" (keyup)="numeroALetras($event,'minutos')">
                    <mat-hint>Decimales o enteros</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Segundos</mat-label>
                    <input matInput placeholder="0" type="number" min="0" [(ngModel)]="segundos" (keyup)="numeroALetras($event,'segundos')">
                    <mat-hint>Decimales o enteros</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Distancia</mat-label>
                <input matInput placeholder="0" type="number" min="0" [(ngModel)]="item.metros" (keyup)="numeroALetras($event,'long')">
                <mat-hint>En metros (decimales o enteros)</mat-hint>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Colindancia</mat-label>
                <input matInput placeholder="Colindancia" type="text" [(ngModel)]="_colindancia" (keyup)="build_html()">
            </mat-form-field>
        </p>

        <div>
            <button mat-flat-button color="primary" (click)="guardar()">GUARDAR</button>
            <button mat-flat-button color="accent" style="margin-left: 10px;" (click)="nuevoPlano()" matTooltip="Crea un plano nuevo sin eliminar el contenido del plano anterior">NUEVO PLANO</button>
        </div>
        <hr>

        <h5>Vista previa</h5>

        <mat-card class="editing">
            De la estación {{item.est}} ({{item.est_num}}) al punto observado {{item.pos}} ({{item.pos_num}}), con un azimut de: {{item.grados}} grados ({{item.grados_num}}°), {{item.minutos}} minutos ({{item.minutos_num}}′), {{item.segundos}} segundos ({{item.segundos_num}}″),
            con una distancia de {{item.long}} metros ({{item.metros}} mts), colinda con {{item.colindancia}}
        </mat-card>

    </div>

    <div class="results">

        <div class="header-result">

            <h4>Resultado final</h4>
            <button id="convert" mat-flat-button color="primary" (click)="convert()" matTooltip="Crea un archivo en formato doc con todo el contenido del resultado final">Exportar a Word</button>

        </div>

        <div class="scroll-result" style="text-align: justify" [innerHTML]="html">
        </div>
    </div>
</div>